<!DOCTYPE html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="/" class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a href="/members" class="nav-link">Cats</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="/admin" class="nav-link">Admin</a>
        </li>
        <li class="nav-item">
          <a href="/abc" class="nav-link">404</a>
        </li>
      </ul>
    </header>
  </div>